<!DOCTYPE html>
<html>
    <head>
        <title>
            Minecraft Server
        </title>
        <%- include('head') %>
    </head>
    <body class="page">
        <%- include('links') -%> 
        <table class='players' cellspacing="0">
        <% if (slots !== undefined && version !== undefined) { %>
            <caption>Players Online:<br/><b><%= players.length %></b> / <%= slots %></caption>
            <tr>
                <td>Addr</td>
                <td><%= config.mcAddress %></td>
            </tr>
            <% if (players !== undefined && players.length !== 0) { %>
                    <% for (let i = 0; i < players.length; i++) { %>
                        <tr>
                            <td><img class="player-head" src='https://mc-heads.net/avatar/<%= players[i] %>'></td>
                            <td><%= players[i] %></td>
                        </tr>
                        <% if (i >= config.maxPlayers && all === undefined) { %>
                            <tr>
                                <td>
                                    <img class="player-head" src='arrow_down.png'>
                                </td>
                                <td>
                                    <a href="/all">Show all</a>
                                </td>
                            </tr>
                        <%    break
                        }
                    } %>
            <% } 
        } else { %>
            <tr>
                    <td>Server is currently offline</td>
            </tr>
        <% } %>
        </table>
        <%- include('footer') -%> 
    </body>
</html>