<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
        <title>
            Minecraft Server
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="style.css" />
    </head>
    <body class="index">
        <div class="links">
            <a href="/map"><img src="map.png"/>Live map</a>
        </div>
        <table class='players' cellspacing="0">
        <% if (slots !== undefined && version !== undefined) { %>
            <caption>Players Online:<br/><b><%= players.length %></b> / <%= slots %></caption>
            <tr>
                <td>Addr</td>
                <td><%= config.mcAddress %></td>
            </tr>
            <% if (players !== undefined && players.length !== 0) { %>
                    <% for (let i = 0; i < players.length; i++) { %>
                        <tr>
                            <td><img class="player-head" src='https://mc-heads.net/avatar/<%= players[i] %>'></td>
                            <td><%= players[i] %></td>
                        </tr>
                        <% if (i >= config.maxPlayers && all === undefined) { %>
                            <tr>
                                <td>
                                    <img class="player-head" src='arrow_down.png'>
                                </td>
                                <td>
                                    <a href="/all">Show all</a>
                                </td>
                            </tr>
                        <%    break
                        }
                    } %>
            <% } 
        } else { %>
            <tr>
                    <td>Server is currently offline</td>
            </tr>
        <% } %>
        </table>
    </body>
</html>